@inherits LayoutComponentBase
@using SHSDP.Components.Shared.ProgramCompletion

<CascadingValue Value="this" TValue="TerminalLayout">
    <NavMenu/>

    <div class="page">
        <main>
            <article class="content px-4">
                <div class="terminal-window">
                    <div class="terminal-header">
                        <div class="buttons">
                            <span class="btn close"></span>
                            <span class="btn minimize"></span>
                            <span class="btn maximize"></span>
                        </div>
                        <div class="terminal-title">Runtime Example</div>
                        
                        <div class="terminal-actions">
                            <button class="btn-refresh" onclick="window.location.reload()" title="Restart terminal">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                        </div>
                    </div>

                    <div class="terminal-body" id="terminal-body">
                        @Body
                    </div>
                </div>
            </article>
        </main>
    </div>

    <Footer/>

    <ThemeChangeMenu />

    <ProgramCompletionModalManager />

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</CascadingValue>

<JavaScriptLoader ScriptPath="Layout/TerminalLayout.razor.js" />
